<div>
  <h2 id="page-heading" data-cy="MedecineHeading">
    <span jhiTranslate="premiereProjetApp.medecine.home.title">Medecines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="premiereProjetApp.medecine.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medecine"
        [routerLink]="['/medecine/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="premiereProjetApp.medecine.home.createLabel"> Create a new Medecine </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="medecines?.length === 0">
    <span jhiTranslate="premiereProjetApp.medecine.home.notFound">No medecines found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="medecines && medecines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="premiereProjetApp.medecine.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="premiereProjetApp.medecine.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="premiereProjetApp.medecine.email">Email</span></th>
          <th scope="col"><span jhiTranslate="premiereProjetApp.medecine.telephone">Telephone</span></th>
          <th scope="col"><span jhiTranslate="premiereProjetApp.medecine.specialite">Specialite</span></th>
          <th scope="col"><span jhiTranslate="premiereProjetApp.medecine.rendezVous">Rendez Vous</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medecine of medecines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medecine', medecine.id, 'view']">{{ medecine.id }}</a>
          </td>
          <td>{{ medecine.nom }}</td>
          <td>{{ medecine.prenom }}</td>
          <td>{{ medecine.email }}</td>
          <td>{{ medecine.telephone }}</td>
          <td>{{ medecine.specialite }}</td>
          <td>
            <div *ngIf="medecine.rendezVous">
              <a [routerLink]="['/rendez-vous', medecine.rendezVous?.id, 'view']">{{ medecine.rendezVous?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medecine', medecine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medecine', medecine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(medecine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
