<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rendezVous">
      <h2 data-cy="rendezVousDetailsHeading"><span jhiTranslate="premiereProjetApp.rendezVous.detail.title">Rendez Vous</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rendezVous.id }}</span>
        </dd>
        <dt><span jhiTranslate="premiereProjetApp.rendezVous.dateRendezVous">Date Rendez Vous</span></dt>
        <dd>
          <span>{{ rendezVous.dateRendezVous | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="premiereProjetApp.rendezVous.heureRendezVous">Heure Rendez Vous</span></dt>
        <dd>
          <span>{{ rendezVous.heureRendezVous | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rendez-vous', rendezVous.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
