<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-consultation-heading"
        data-cy="ConsultationCreateUpdateHeading"
        jhiTranslate="premiereProjetApp.consultation.home.createOrEditLabel"
      >
        Create or edit a Consultation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="premiereProjetApp.consultation.dateComsultation" for="field_dateComsultation"
            >Date Comsultation</label
          >
          <div class="input-group">
            <input
              id="field_dateComsultation"
              data-cy="dateComsultation"
              type="text"
              class="form-control"
              name="dateComsultation"
              ngbDatepicker
              #dateComsultationDp="ngbDatepicker"
              formControlName="dateComsultation"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateComsultationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="premiereProjetApp.consultation.prixConsultation" for="field_prixConsultation"
            >Prix Consultation</label
          >
          <input
            type="number"
            class="form-control"
            name="prixConsultation"
            id="field_prixConsultation"
            data-cy="prixConsultation"
            formControlName="prixConsultation"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="premiereProjetApp.consultation.rapportConsultation"
            for="field_rapportConsultation"
            >Rapport Consultation</label
          >
          <input
            type="text"
            class="form-control"
            name="rapportConsultation"
            id="field_rapportConsultation"
            data-cy="rapportConsultation"
            formControlName="rapportConsultation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="premiereProjetApp.consultation.rendezVous" for="field_rendezVous"
            >Rendez Vous</label
          >
          <select class="form-control" id="field_rendezVous" data-cy="rendezVous" name="rendezVous" formControlName="rendezVous">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                rendezVousOption.id === editForm.get('rendezVous')!.value?.id ? editForm.get('rendezVous')!.value : rendezVousOption
              "
              *ngFor="let rendezVousOption of rendezVousCollection; trackBy: trackRendezVousById"
            >
              {{ rendezVousOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
